<div>
    {% if formItemLabel is defined %}
        {{ form_label(formItem, formItemLabel, {'label_attr': {'class': 'text-xl block font-light'} }) }}
    {% endif %}

    {% if formItemValue is defined %}
        {{ form_widget(formItem, {'value': formItemValue, 'attr': {'class': 'w-[13em] px-1 text-2xl rounded-xl bg-teal-200 outline-2 focus:outline outline-teal-300'} }) }}
    {% else %}
        {{ form_widget(formItem) }}
    {% endif %}

    <small>{{ form_help(formItem) }}</small>

    <div class="font-black text-red-700">
        {{ form_errors(formItem) }}
    </div>
</div>